In [118]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
ols = LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_absolute_error 
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import r2_score

https://www.kaggle.com/datasets/dansbecker/melbourne-housing-snapshot

In [119]:
df = pd.read_csv(r"C:\Users\dougl\OneDrive\Área de Trabalho\Impacta Data Science\Datasets\melb_data.csv.zip")

In [143]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [122]:
df.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [123]:
df.duplicated().sum()

0

In [124]:
for column_name in X.columns:
    column = X[column_name]
    # Get the count of Zeros in column 
    count = (column == 0).sum()
    print('Count of zeros in column', column_name, ' is : ', count)

Count of zeros in column Bedroom2  is :  16
Count of zeros in column Bathroom  is :  34
Count of zeros in column Landsize  is :  1939

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [144]:
X = df.drop(["Price","Car", "Suburb","Distance","Postcode","Longtitude", "Propertycount","Lattitude", "Address", "Type", "Method", "YearBuilt", "SellerG", "BuildingArea", "Date", "CouncilArea", "Regionname"], axis=1)

In [145]:
Y = df["Price"]

In [146]:
X

       Rooms  Bedroom2  Bathroom  Landsize
0          2       2.0       1.0     202.0
1          2       2.0       1.0     156.0
2          3       3.0       2.0     134.0
3          3       3.0       2.0      94.0
4          4       3.0       1.0     120.0
...      ...       ...       ...       ...
13575      4       4.0       2.0     652.0
13576      3       3.0       2.0     333.0
13577      3       3.0       2.0     436.0
13578      4       4.0       1.0     866.0
13579      4       4.0       1.0     362.0

[13580 rows x 4 columns]

In [147]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rooms     13580 non-null  int64
 1   Bedroom2  13580 non-null  float64
 2   Bathroom  13580 non-null  float64
 3   Landsize  13580 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 424.5 KB

In [148]:
Y

0        1480000.0
1        1035000.0
2        1465000.0
3         850000.0
4        1600000.0
           ...
13575    1245000.0
13576    1031000.0
13577    1170000.0
13578    2500000.0
13579    1285000.0
Name: Price, Length: 13580, dtype: float64

In [149]:
Y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 13580 entries, 0 to 13579
Series name: Price
Non-Null Count  Dtype
--------------  -----
13580 non-null  float64
dtypes: float64(1)
memory usage: 106.2 KB

In [178]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.28, random_state=42)

In [179]:
X.shape, y.shape, X_train.shape, X_test.shape, y_train.shape, y_test.shape

((13580, 4), (13580,), (9777, 4), (3803, 4), (9777,), (3803,))

In [180]:
ols.fit(X,Y)

LinearRegression()

In [181]:
ols.intercept_

31584.605965678697

In [182]:
ols.coef_

array([2.24216833e+05, 2.53683552e+03, 2.45242799e+05, 3.03574181e+00])

In [183]:
predito = ols.predict(X)
predito

array([ 730947.96150257,  730808.31737929, 1202737.99820381, ...,
       1203654.79223056, 1186471.03115835, 1184941.0172859 ])

In [184]:
mean_absolute_error(y, predito)

377922.38368053216

In [185]:
mean_squared_error(y, predito)

288970799009.69965

In [186]:
r2_score(y, predito)

0.29293073279582105